# 服务端口
PORT=8000

# 纯文本模型配置
TEXT_LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
# 这里填入 api key
TEXT_LLM_API_KEY=sk-xxx
TEXT_LLM_MODEL=qwen-max

# 图片问答模型配置
VISION_LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
# 这里填入 api key
VISION_LLM_API_KEY=sk-xxx
VISION_LLM_MODEL=qwen-vl-plus

# 阿里云图像搜索配置
ALIYUN_IMAGE_SEARCH_ACCESS_KEY_ID=
ALIYUN_IMAGE_SEARCH_ACCESS_KEY_SECRET=
ALIYUN_IMAGE_SEARCH_INSTANCE_NAME=
ALIYUN_IMAGE_SEARCH_REGION_ID=cn-shanghai
# 如果不填，会按 region_id 自动拼接公网 endpoint
ALIYUN_IMAGE_SEARCH_ENDPOINT=
