# 服务端口
PORT=8000

# 纯文本模型配置
TEXT_LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
# 这里填入 api key
TEXT_LLM_API_KEY=sk-xxx
TEXT_LLM_MODEL=qwen-max

# 图片问答模型配置
VISION_LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
# 这里填入 api key
VISION_LLM_API_KEY=sk-xxx
VISION_LLM_MODEL=qwen-vl-plus

# 百度图片搜索配置
BAIDU_IMAGE_SEARCH_API_KEY=
BAIDU_IMAGE_SEARCH_SECRET_KEY=
BAIDU_IMAGE_SEARCH_BASE_URL=https://aip.baidubce.com
BAIDU_IMAGE_SEARCH_MAPPING_DB_PATH=.data/baidu_image_index.sqlite3
