# 服务端口
PORT=8000

# 纯文本模型配置
TEXT_LLM_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
TEXT_LLM_API_KEY=sk-xxx # 这里填入 api key
TEXT_LLM_MODEL=qwen-max

# 图片问答模型配置
VISION_LLM_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
VISION_LLM_API_KEY=sk-xxx # 这里填入 api key
VISION_LLM_MODEL=qwen-vl-plus
